{% extends "core/base_principal.html" %} 
{% block body %} 
{% load widget_tweaks %}
    <div class="jumbotron">
        <h2><center>Sobre nós</center></h2>
        <p>Somos um grupo de estudantes, criamos este Blog com o objetivo de um trabalho acadêmico de conclusão de curso. Com uma plataforma aberta nosso 
            principal objetivo é a dispersão de conhecimentos da área de informática, alimentando com projetos práticos feitos por alunos, professores, hobbistas 
            e entusiastas. Apenas com alguns cliques vocês poderão criar sua conta no WeBlog e iniciar o seu network com as pessoas em busca do conhecimento.  
        </p>
    </div>
{% endblock body %}